binutils
brotli
c-ares
ca-certificates
cyrus-sasl
dcron
gc
gcc
gcc-g++
glib
glib2
glibc
guile
icu4c
kernel-headers
libffi
libunistring
libuv
make
nghttp2
nghttp3
nodejs
openssl
openssl-solibs
pkgconf
rust
